<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="#{conference.list}">Конференції</title>
</head>
<body>
    <table border="1">
        <caption th:text="#{conference.list}">КОНФЕРЕНЦІЇ</caption>
        <thead>
            <tr>
                <th th:text="#{conference.name}">Назва конференції</th>
                <th th:text="#{conference.info}">Загальна інформація</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="conference : ${conferences}">
                <td>
                    <a th:href="@{'/conference/' + ${conference.id}}"> <span th:text="${conference.name}"></span></a>
                </td>
                <td th:text="${conference.info}"></td>
            </tr>
        </tbody>
    </table>
    <form method="get" th:action="@{/conference/add}">
        <p><button type="submit" th:text="#{conference.add}">Додати</button></p>
    </form>
</body>
</html>