<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title th:text="#{conference.list}">Конференції</title>
</head>
<body>
    <div sec:authorize="!isAuthenticated()">
        <a>Гість</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <a sec:authentication="name"></a>
    </div>
    <nav>
        <a th:href="@{/index}" th:text="#{index.main}"></a>
    </nav>
    <table border="1">
        <caption th:text="#{conference.list}">КОНФЕРЕНЦІЇ</caption>
        <thead>
            <tr>
                <th th:text="#{conference.name}">Назва конференції</th>
                <th th:text="#{conference.info}">Загальна інформація</th>
                <th sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MODER')" th:text="#{conference.delete}">Видалити</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="conference : ${conferences}">
                <td>
                    <a th:href="@{'/conference/' + ${conference.id}}"> <span th:text="${conference.name}"></span></a>
                </td>
                <td th:text="${conference.info}"></td>
                <td sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MODER')">
                    <form method="post" th:action="@{/conference/delete}">
                        <button type="submit" name="id" th:text="#{conference.delete}" th:value="${conference.id}">Видалити</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <div sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MODER')">
        <form method="get" th:action="@{/conference/add}">
            <p><button type="submit" th:text="#{conference.add}">Додати</button></p>
        </form>
    </div>
</body>
</html>