<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${conference.name}">Конференція</title>
</head>
<body>
    <h1 th:text="${conference.name}">Conference name</h1>
    <h3 th:text="${conference.info}">Conference info</h3>
    <form id="like" method="post" th:action="@{/topic/like}">
        <input type="text" name="email">
        <input type="text" name="nickname">
    </form>
        <table border="1">
            <caption th:text="#{topic.list}">ДОПОВІДІ КОНФЕРЕНЦІЇ</caption>
            <thead>
                <tr>
                    <th th:text="#{topic.date}">Дата</th>
                    <th th:text="#{topic.name}">Назва</th>
                    <th th:text="#{topic.summary}">Короткий опис</th>
                    <th th:text="#{topic.speaker}">Доповідач</th>
                    <th th:text="#{topic.rate}">Рейтинг</th>
                    <th th:text="#{topic.like}">Подобається</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="topic : ${topics}">
                    <td th:text="${#dates.format(topic.dateTime, 'dd.MM.yyyy HH:mm')}">Дата</td>
                    <td>
                        <a th:href="@{'/topic/' + ${topic.id}}"><span th:text="${topic.name}"></span></a>
                    </td>
                    <td th:text="${topic.summary}">Короткий опис</td>
                    <td th:text="${topic.speaker}">Доповідач</td>
                    <td th:text="${topic.getRate()}">Рейтинг</td>
                    <td>
                        <button form="like" type="submit" name="id" th:text="#{topic.like}" th:value="${topic.id}">Подобається</button>
                    </td>
                </tr>
            </tbody>
        </table>
    <form method="post" th:action="@{/topic/add}">
        <p><button type="submit" name="conferenceId" th:value="${conference.id}" th:text="#{topic.add}">Додати</button></p>
    </form>
</body>
</html>