<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${conference.name}">Конференція</title>
</head>
<body>
    <h1 th:text="${conference.name}">Conference name</h1>
    <h3 th:text="${conference.info}">Conference info</h3>
    <p>ДОПОВІДІ КОНФЕРЕНЦІЇ:</p>
    <table border="1">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Назва</th>
                <th>Короткий опис</th>
                <th>Доповідач</th>
                <th>Рейтинг</th>
                <th>Подобається</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="topic : ${topics}">
                <td th:text="${topic.dateTime}">Дата</td>
                <td>
                    <a th:href="@{'/topic/' + ${topic.id}}"><span th:text="${topic.name}"></span></a>
                </td>
                <td th:text="${topic.summary}">Короткий опис</td>
                <td th:text="${topic.speaker}">Доповідач</td>
                <td th:text="${topic.getRate()}">Рейтинг</td>
                <td><button>Поодобається</button></td>
            </tr>
        </tbody>
    </table>
</body>
</html>