<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Конференції</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#locales").change(function() {
                var selectedOption = $('#locales').val();
                if (selectedOption != ''){
                    window.location.replace('?lang=' + selectedOption);
                }
            });
        });
    </script>
</head>
<body>

    <span th:text="#{lang.change}"></span>:
    <select id="locales">
        <option value=""></option>
        <option value="en" th:text="#{lang.eng}"></option>
        <option value="ua" th:text="#{lang.ua}"></option>
    </select>

    <table border="1">
        <caption th:text="#{conference.list}">КОНФЕРЕНЦІЇ</caption>
        <thead>
            <tr>
                <th th:text="#{conference.name}">Назва конференції</th>
                <th th:text="#{conference.info}">Загальна інформація</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="conference : ${conferences}">
                <td>
                    <a th:href="@{'/conference/' + ${conference.id}}"> <span th:text="${conference.name}"></span></a>
                </td>
                <td th:text="${conference.info}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>