<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{index.hello}">Вітаємо</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#locales").change(function() {
                var selectedOption = $('#locales').val();
                if (selectedOption != ''){
                    window.location.replace('/index?lang=' + selectedOption);
                }
            });
        });
    </script>
</head>
<body>
    <h1 th:text="#{index.hello}">Вітаємо</h1>

    <span th:text="#{lang.change}"></span>:
    <select id="locales">
        <option value=""></option>
        <option value="en" th:text="#{lang.eng}"></option>
        <option value="ua" th:text="#{lang.ua}"></option>
    </select>

    <div sec:authorize="!isAuthenticated()">
        <a th:href="@{/login}" th:text="#{index.login}">Увійти</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <br><a th:text="#{index.logged}"></a>: <span sec:authentication="name"></span>
        <br><a th:href="@{/logout}" th:text="#{index.logout}">Вийти</a>
    </div>

    <p><a th:href="@{/conferences}" th:text="#{conference.list}">Конференції</a>
</body>
</html>