<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${topic.name}">Доповідь</title>
</head>
<body>
    <h2 th:text="${topic.name}">Topic name</h2>
    <h4 th:text="${topic.summary}">Topic summary</h4>
    <p th:text="'Доповідач: ' + ${topic.speaker}">Topic speaker</p>
    <p th:text="'Час проведення: ' + ${topic.dateTime}">Topic dateTime</p>
    <p>ПИТАННЯ ДО ДОПОВІДІ:</p>
    <table border="1">
        <thead>
           <tr>
               <th>Питання</th>
               <th>Пошта автора</th>
               <th>Статус</th>
               <th>Рейтинг</th>
               <th>Подобається</th>
           </tr>
        </thead>
        <tbody>
            <tr th:each="question : ${questions}">
                <td th:text="${question.text}">Питання</td>
                <td th:text="${question.email}">Пошта автора</td>
                <td th:text="${question.state}">Статус</td>
                <td th:text="${question.getRate()}">Рейтинг</td>
                <td>
                    <button>Подобається</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>