<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Topic</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Cassistant</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/moderator/' + ${topic.id}}">Moderator</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h5 class="text-center mt-2">Topic Page</h5>
    <div class="jumbotron mt-2 text-center py-5">
        <h1 th:text="|''${topic.name}''|"></h1>
        <h3 th:text="|presenting by ${topic.speaker}| + ' . . . . . Rate:' + ${topic.rate}"></h3>
        <p class="lead" th:text="${topic.summary}"></p>
        <p class="lead" th:text="|This conference starts at ${sdf.format(topic.dateTime.getTime())}|"></p>
        <div class="h3">List of Questions</div>
        <div class="" th:each="question : ${questions}">
            <div class="card my-4 rounded"
                 th:classappend="${#strings.toString(question.state) == '[IN_PROGRESS]'}? ' border border-primary'">
                <div class="m-2" th:text="${question.text}">
                    Question
                </div>
                <form method="post" th:action="'/question/like/'+ ${topic.id}">
                    <div class="card-footer text-muted row justify-content-between m-0 p-3">
                        <div class="text-left" th:text="|Asked by ${question.email}|" style="width: 30%"></div>

                        <div th:if="${#strings.toString(question.state) == '[NEW]'}"
                             th:text="|State:${question.state}|"
                             class="px-2 py-1 bg-success text-white" style="width: 25%; margin-right: 100px;"></div>
                        <div th:if="${#strings.toString(question.state) == '[IN_PROGRESS]'}"
                             th:text="|State:${question.state}|"
                             class="px-2 py-1 bg-primary text-white" style="width: 25%; margin-right: 100px;"></div>
                        <div th:if="${#strings.toString(question.state) == '[ANSWERED]'}"
                             th:text="|State:${question.state}|"
                             class="px-2 py-1 bg-secondary text-white" style="width: 25%; margin-right: 100px;"></div>
                        <div th:if="${#strings.toString(question.state) == '[REMOVED]'}"
                             th:text="|State:${question.state}|"
                             class="px-2 py-1 bg-danger text-white" style="width: 25%; margin-right: 100px;"></div>

                        <div class="col-col-lg-3" th:text="|Rate:${question.rate}|"></div>
                        <div class="col-col-lg-3">
                            <a class="btn btn-primary px-2 m-0" data-toggle="collapse"
                               th:href="@{'#collapse' + ${question.id}}"
                               role="button"
                               aria-expanded="false" aria-controls="collapseLike">Like
                            </a>
                        </div>
                        <div class="collapse" th:id="'collapse' + ${question.id}">
                            <div class="container mt-3">
                                <div class="row text-left">
                                    <div class="col col-lg-4">
                                        <input class="form-control" type="text" name="email" placeholder="Enter email">
                                    </div>
                                    <div class="col col-lg-5">
                                        <input class="form-control" type="text" name="nickname"
                                               placeholder="Enter nickname (optional)">
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-primary mr-5" type="submit" name="id"
                                                th:value="${question.id}">
                                            Like
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <a class="btn btn-primary my-2" data-toggle="collapse" href="#collapseExample" role="button"
           aria-expanded="false" aria-controls="collapseExample">
            Add New Question
        </a>
        <div class="collapse" id="collapseExample">
            <div class="form-group">
                <form method="post" action="/topic/question">
                    <input type="text" name="text" class="form-control my-1" placeholder="Enter Question"/>
                    <input type="text" name="email" class="form-control my-1" placeholder="Enter Email"/>
                    <button class="btn btn-primary" type="submit" name="id" th:value="${topic.id}">Add Question</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>
</html>